In [33]:
import pandas as pd

df = pd.read_csv(r"C:\Users\jasonjia\Dropbox\Projects\conference_call\output\03_firm_identification\03.3_compustat_processed\ciqcompany_mergedwithgvkeyandcountry.csv")

In [34]:
df.head()

,companyid,companyname,countryid,gvkey,country,isocountry2
0,18493.0,DC Venture Partners,213.0,NaN,United States,US
1,18495.0,13i Capital Corporation,213.0,NaN,United States,US
2,18499.0,21 International Holdings Inc.,213.0,NaN,United States,US
3,18501.0,21 Invest Sgr S.p.A.,99.0,NaN,Italy,IT
4,18505.0,Palo Alto Venture Partners,213.0,NaN,United States,US

In [35]:
companyname = df['companyname']
companyname

0                                         DC Venture Partners
1                                     13i Capital Corporation
2                              21 International Holdings Inc.
3                                        21 Invest Sgr S.p.A.
4                                  Palo Alto Venture Partners
                                  ...
25623988    Somers Murphy & Earl Business Advisory Service...
25623989                                          Bo Toulouse
25623990                        Feel Unique Beauty School Ltd
25623991                                  Armson Property Ltd
25623992                           Dedicate Management S.r.l.
Name: companyname, Length: 25623993, dtype: object

In [36]:
companyname = companyname.str.lower()
companyname

0                                         dc venture partners
1                                     13i capital corporation
2                              21 international holdings inc.
3                                        21 invest sgr s.p.a.
4                                  palo alto venture partners
                                  ...
25623988    somers murphy & earl business advisory service...
25623989                                          bo toulouse
25623990                        feel unique beauty school ltd
25623991                                  armson property ltd
25623992                           dedicate management s.r.l.
Name: companyname, Length: 25623993, dtype: object

In [37]:
companyname = companyname.dropna()
companyname

0                                         dc venture partners
1                                     13i capital corporation
2                              21 international holdings inc.
3                                        21 invest sgr s.p.a.
4                                  palo alto venture partners
                                  ...
25623988    somers murphy & earl business advisory service...
25623989                                          bo toulouse
25623990                        feel unique beauty school ltd
25623991                                  armson property ltd
25623992                           dedicate management s.r.l.
Name: companyname, Length: 25623991, dtype: object

In [38]:
ryland = companyname[companyname.str.contains('ryland')]
ryland

1323                           maryland venture capital trust
23538                   new venture capital group of maryland
27097                                     bank maryland corp.
29101                          maryland federal bancorp, inc.
29666                                     basi maryland, inc.
                                  ...
25531118                       maryland express service, inc.
25533258                            wend central maryland llc
25534149    one medical cannabis growing operation, one pr...
25547356         true line coring & cutting of maryland, inc.
25620497                              ruckoldt & rylander ltd
Name: companyname, Length: 3329, dtype: object

In [39]:
rylandhomes = ryland[ryland.str.contains('home')]

In [40]:
rylandhomes = rylandhomes[~(rylandhomes.str.contains('maryland'))]

In [41]:
rylandhomes

188681                 ryland homes of california, inc.
867607                          ryland homes nevada llc
867608                     ryland homes of arizona inc.
867610                      ryland homes of texas, inc.
867612               ryland homes investment texas inc.
1048498                  ryland homes insurance company
2929617             merrylands nursing home pty limited
2967287     ryland homes inland empire customer service
6736503                ryland-american home fund 1988-1
11039036         ryland homes of hollifield station llc
18442966                   rylands nursing home limited
Name: companyname, dtype: object

In [42]:
rylandgroup = ryland[ryland.str.contains('group')]
rylandgroup = rylandgroup[~(rylandgroup.str.contains('maryland'))]
rylandgroup = rylandgroup[~(rylandgroup.str.contains('merryland'))]
rylandgroup = rylandgroup[~(rylandgroup.str.contains('henryland'))]
rylandgroup = rylandgroup[~(rylandgroup.str.contains('storyland'))]

In [43]:
rylandgroup

29960                                       ryland group inc.
685021         ryland group plc, mercedes-benz van operations
686559      ryland group plc, two dealerships in wolverham...
716143      ryland group plc, peugeot dealership in stoke-...
726155                   ryland group plc, daf/ldv activities
735240      ryland group plc, rystar aston and selly oak o...
776869      ryland group plc, alfa romeo dealership in knowle
784120      ryland group plc, fiat/alfa romeo dealerships ...
829632      ryland group plc, ford coventry retail operations
846690                ryland group plc, 3 renault dealerships
885704      ryland group plc, ford northampton retail oper...
1172991               ryland group ltd., nine car dealerships
5778055                                  ryland group limited
16252173                        ryland group services limited
Name: companyname, dtype: object

In [45]:
df.iloc[29960]

companyid               301069.0
companyname    Ryland Group Inc.
countryid                  213.0
gvkey                     9302.0
country            United States
isocountry2                   US
Name: 29960, dtype: object