In [1]:
import pandas as pd
from pathlib import Path

In [2]:
inputfilepath1 = Path(r"C:\Users\jasonjia\Dropbox\Projects\conference_call\output\01_download_cc\01.2_xls_combined\multiple_data_pulls_combined\20010101-20210909\xls_compiled_20010101-20210909.csv")
inputfilepath2 = Path(r"C:\Users\jasonjia\Dropbox\Projects\conference_call\output\01_download_cc\01.2_xls_combined\single_data_pull\20210101-20220617\xls_combined_20210101-20220617.xlsx")
outputfilepath = Path(r"C:\Users\jasonjia\Dropbox\Projects\conference_call\output\01_download_cc\01.2_xls_combined\multiple_data_pulls_combined\20010101-20220617\xls_compiled_20010101-20220617.csv")

In [3]:
# Import files
df1 = pd.read_csv(inputfilepath1, low_memory=False)
df2 = pd.read_excel(inputfilepath2)

In [4]:
df1.head(1)

,0,Analyst,Collection,Contributor,Date,Language,PPV,Pages,Price,Ratings,Report #,Subtitle,TOC,Title,Count
0,NaN,ANON,INV,THOMSON REUTERS STREETEVENTS,11/08/12,English,N,17.0,Subscription,NaN,21044925.0,FSYS.OQ - Event Transcript of Fuel Systems Sol...,Y,FUEL SYSTEMS SOLUTIONS INC,NaN

In [5]:
df2.head(1)

,Unnamed: 0,PPV,TOC,Title,Subtitle,Date,Pages,Price,Contributor,Analyst,Ratings,Language,Report #,Collection,filestem
0,0,N,Y,MAHINDRA & MAHINDRA,MAHM.NS - Event Transcript of Mahindra and Mah...,01/01/21,24,Subscription,THOMSON REUTERS STREETEVENTS,ANON,NaN,English,71149754,INV,20201229-20210101_1

In [6]:
df2.columns

Index(['Unnamed: 0', 'PPV', 'TOC', 'Title', 'Subtitle', 'Date', 'Pages',
       'Price', 'Contributor', 'Analyst', 'Ratings', 'Language', 'Report #',
       'Collection', 'filestem'],
      dtype='object')

In [7]:
# Reorganize df1
df1['index'] = ''
df1['filestem'] = ''
df1 = df1[['index', 'PPV', 'TOC', 'Title', 'Subtitle', 'Date', 'Pages', 'Price', 'Contributor', 
           'Analyst', 'Ratings', 'Language', 'Report #', 'Collection', 'filestem']]
df1.head(1)

,index,PPV,TOC,Title,Subtitle,Date,Pages,Price,Contributor,Analyst,Ratings,Language,Report #,Collection,filestem
0,,N,Y,FUEL SYSTEMS SOLUTIONS INC,FSYS.OQ - Event Transcript of Fuel Systems Sol...,11/08/12,17.0,Subscription,THOMSON REUTERS STREETEVENTS,ANON,NaN,English,21044925.0,INV,

In [8]:
# Reoranize df2 
df2 = df2.rename(columns = {'Unnamed: 0': 'index'})
df2.head(1)

,index,PPV,TOC,Title,Subtitle,Date,Pages,Price,Contributor,Analyst,Ratings,Language,Report #,Collection,filestem
0,0,N,Y,MAHINDRA & MAHINDRA,MAHM.NS - Event Transcript of Mahindra and Mah...,01/01/21,24,Subscription,THOMSON REUTERS STREETEVENTS,ANON,NaN,English,71149754,INV,20201229-20210101_1

In [9]:
# Combine the 2 dfs and save to .csv
df = pd.concat([df1, df2])
print("Number of rows of df1:", df1.shape[0])
print("Number of rows of df2:", df2.shape[0])
print("Number of rows of df:", df.shape[0])
assert(df1.shape[0] + df2.shape[0] == df.shape[0])
df.to_csv(outputfilepath, index=False)
print("Saved df to:", outputfilepath)

Number of rows of df1: 588240
Number of rows of df2: 58070
Number of rows of df: 646310
Saved df to: C:\Users\jasonjia\Dropbox\Projects\conference_call\output\01_download_cc\01.2_xls_combined\multiple_data_pulls_combined\20010101-20220617\xls_compiled_20010101-20220617.csv